@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', Arial, sans-serif;
  background: #ffeede;
} 